---
import Nav from "../components/Nav.tsx";
import Text from "../components/Text.tsx";
import Img from "../components/Img.tsx";
import About from "../components/About.tsx";
---

<div class="bg-zinc-950 border-2 border-zinc-900">
  <header>
    <Nav />
  </header>
  <main>
    <div class="flex items-center justify-center mt-44 mb-20 bg-zinc-950">
      <Text client:load />
    </div>
    <div
      class="flex items-center justify-center bg-zinc-950 py-5 my-7 border-y border-zinc-950"
    >
      <Img client:load />
    </div>
    <div>
      <About />
    </div>
  </main>
</div>
